<nav
    class='animate-slide-in-top ygradient flex flex-col gap-4 content-center items-center px-4 py-5 md:py-2 overflow-hidden sm:flex-row justify-between'
>
    <div class='flex'>
        <img
            class='w-14 object-cover'
            src='/images/logoGasNaty.webp'
            alt='Logonaty'
        />
        <div class='flex flex-col ml-3'>
            <span class='text-4xl font-extrabold font-sans text-(--gray)'
                >NatyGas</span
            >
            <span class='text-(--gray) font-bold font-[Poppins] italic'>
                Venta de gas adomicilio
            </span>
        </div>
    </div>
    <div class='animate-slide-in-top flex content-center'>
        <ul class='flex px-2 items-center'>
            <li class='transform hover:scale-110 duration-115 active:scale-100'>
                <a class='btnNavBar' href='#team'>Equipo</a>
            </li>
            <li class='transform hover:scale-110 duration-115 active:scale-100'>
                <a class='btnNavBar' href='#services'>Servicios</a>
            </li>
            <li class='transform hover:scale-110 duration-115 active:scale-100'>
                <a class='btnNavBar' href='#contact'>Contacto</a>
            </li>
        </ul>
    </div>
</nav>
