<section id='team' class='mt-20 px-4 py-30 relative'>
    <h2 class='text-center font-bold text-2xl my-10 text-(--yellow)'>
        Nuestro equipo
    </h2>
    <div
        class='flex flex-col items-center justify-center md:flex-row-reverse gap-5'
    >
        <div class='w-[90%] md:w-[50%] flex justify-center items-center'>
            <img class='w-full md:w-[60%]' src='/images/team.png' alt='team' />
        </div>
        <div
            class='w-full md:w-[50%] text-sm md:text-md lg:text-lg text-white [&>strong]:text-(--yellow)'
        >
            <p>
                Contamos con personal altamente capacitado y certificado,
                comprometido con brindar instalaciones seguras, eficientes y de
                calidad.
            </p>
            <br />
            <p>
                Cada uno de nuestros técnicos trabaja con pasión y
                responsabilidad, garantizando que cada entrega llegue a tiempo y
                en las mejores condiciones.
            </p>
        </div>
    </div>
    <div id='poligon' class='absolute top-0 left-0 w-full h-30 ygradient3'>
    </div>
</section>
